{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="container">
    <h1>Login...</h1>
    <div class="container-auth" style="border-radius: 25px;border-style: solid;padding : 20px;border-color:gray; width: 50%!important; margin: auto;">
        <form  method="post" class="d-flex" style="text-align: left;">
            {% csrf_token %}
            <div class="p-4">
                <label class="text-white">Email/Username</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
            <div class="p-4">
                <label class="text-white">Password</label>
                <input type="password" name="password" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="p-6 bg-red-500 text-white rounded-xl m-2">
                            <p class="p-2">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="p-6 bg-red-500 text-white rounded-xl m-2">
                        <p class="p-2">{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="p-2 m-2">
                {{ form.recaptcha }}
                <br>
            </div>
            
            <div>
                <button class="btn btn-secondary" >Login</button>
            </div>
        </form>   
    </div>
    <br/><br/>
</div>
{% endblock %}